<ion-header>
  <ion-toolbar>
    <ion-title>card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <ion-card>
      <!--Uma imagem local e on line-->
      <img src="assets/img/panqueca.jpg" alt="panqueca">
      <ion-card-header>
        <!-- Subtítulo é opcional-->
        <ion-card-title>
          Exemplo de cartão
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Este o conteúdo do cartão.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
